.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 476px;
  background: #f9f6f6;
  border-radius: 15px;
}

.innerContainer {
  display: flex;
  width: 300px;
  justify-content: space-between;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 65px;
  color: #363636;
}
